# SPDX-License-Identifier: GPL-2.0-only
#
# imx708 - .gitignore
#

build/
*.o
*.ko
*.mod.c
*.mod
*.o.cmd
*.ko.cmd
*.symvers
*.order
*.tmp_versions
modules.order
Module.symvers
Module.markers
*.a
*.so
*.so.*
*.la
*.lo
*.la
*.pc
*.pyc
__pycache__/
.deps/
.libs/
*.dwo
*.dwp
*.elf
*.out
*.app
tags
cscope.*
GPATH
GRTAGS
GTAGS
*.swp
*.swo
*~
\#*\#
.DS_Store
Thumbs.db
